<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

{% if author.google_scholar %}
  <li>
    <a href="http://scholar.google.com/citations?user={{ author.google_scholar }}" itemprop="sameAs">
      <i class="fa fa-fw fa-google" aria-hidden="true"></i> Google Scholar
    </a>
  </li>
{% endif %}

{% if author.acm %}
  <li>
    <a href="http://dl.acm.org/author_page.cfm?id={{ author.acm }}" itemprop="sameAs">
      <i class="fa fa-fw fa-book" aria-hidden="true"></i> ACM Digital Library
    </a>
  </li>
{% endif %}

{% if author.dblp %}
  <li>
    <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/c/{{ author.dblp }}=.html" itemprop="sameAs">
      <i class="fa fa-fw fa-book" aria-hidden="true"></i> DBLP
    </a>
  </li>
{% endif %}

{% if author.orcid %}
  <li>
    <a href="http://orcid.org/{{ author.orcid }}" itemprop="sameAs">
      <i class="fa fa-fw fa-book" aria-hidden="true"></i> ORCID
    </a>
  </li>
{% endif %}

{% if author.scopus %}
  <li>
    <a href="https://www.scopus.com/authid/detail.uri?authorId={{ author.scopus }}" itemprop="sameAs">
      <i class="fa fa-fw fa-book" aria-hidden="true"></i> SCOPUS
    </a>
  </li>
{% endif %}

{% if author.ResearcherID %}
  <li>
    <a href="http://www.researcherid.com/rid/{{ author.ResearcherID }}" itemprop="sameAs">
      <i class="fa fa-fw fa-book" aria-hidden="true"></i> ResearcherID
    </a>
  </li>
{% endif %}

{% if author.SemanticScholar %}
  <li>
    <a href="https://www.semanticscholar.org/author/{{ author.SemanticScholar }}" itemprop="sameAs">
      <i class="fa fa-fw fa-book" aria-hidden="true"></i> SemanticScholar
    </a>
  </li>
{% endif %}
