---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Latest News" }}</h3>

<!-- from twitter widgets -->
<a class="twitter-timeline" href="https://twitter.com/rmaranhao" data-widget-id="270566255801536512">Tweets by @rmaranhao</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% include paginator.html %}
